@import url('https://fonts.googleapis.com/css?family=Lato');

.centered-div{
    margin: 0 auto;
    margin-top: 140px;
    width: 60%;
    display: flex;
    flex-direction: row;
}

.type{
    width: 20%;
}

.garbage-type{
    max-height: 220px;
    margin: auto;
}

.info{
    width: 80%;
    background-color: white;
    font-size: 14px;

}